.booking_form {
  display: flex; /* Enables flexbox layout */ /* Centers the container with margin */
  flex-direction: column; /* Stacks child elements vertically */
  align-items: baseline; /* Centers elements horizontally */
  /* Adds padding inside */
  justify-content: center; /* Centers elements vertically */
  text-align: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; /* Adds shadow effect */
  margin: 2rem auto;
  padding: 1rem;
}
.booking_form input {
  width: 100%;
  margin: auto;
}
.booking_form label {
  margin: 0.5em 0;
}
.booking_form hr {
  margin: 1em 0; /* Adds spacing above and below */
  color: #e5989b; /* Sets horizontal rule color */
  border: 1px solid #e5989b; /* Adds border */
  opacity: 0.2; /* Reduces visibility */
}

.booking_form h1 {
  color: #e5989b; /* Sets text color to pink */
  text-align: center; /* Centers the heading */
  font-size: 2.6em; /* Increases font size */
  text-shadow: 2px 2px black; /* Adds black text shadow */
  letter-spacing: 0.4em; /* Increases space between letters */
  margin: 0.6em; /* Adds spacing */
  width: 100%;
}

.booking_form .location {
  display: flex; /* Enables flexbox */
  justify-content: baseline; /* Aligns items to the baseline */
}

/* This styling allows form legend be placed in one column and radio buttons in the other */
.booking_form fieldset {
  display: contents;
}

.booking_form fieldset.photoshoot > legend {
  font-weight: bold; /* Makes legend same as other form labels*/
}

.photoshot {
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stacks elements vertically */
}

.checkbox {
  display: flex; /* Enables flexbox */
  align-items: center; /* Centers items vertically */
  justify-content: baseline; /* Aligns items to the baseline */
  font-size: 1.4rem;
}

.booking_form textarea {
  width: 95%; /* Sets width to the 95% size of the page*/
  height: 6em; /* Sets bigger height */
  border-color: #e5989b; /* Sets border color to pink */
  margin: 0.2rem auto;
}
.booking_form .button-area {
  width: 70%;
  margin: auto;
  text-align: center;
}
.booking_form button {
  margin: 1em 0; /* Adds vertical spacing */
  background-color: #e5989b; /* Sets background color to light pink */
  padding: 1em 3em; /* Adds padding inside the button */
  border: 1px solid transparent; /* Removes border */
  border-radius: 4em; /* Rounds the button edges */
  color: white; /* Sets text color to white*/
  cursor: pointer; /* Changes cursor to pointer */
  transition: 0.5s ease; /* Adds smooth transition effect */
}

.booking_form button:hover {
  background-color: #f5f5f5; /* Changes background to light gray on hover */
  color: #e5989b; /* Changes text color to light pink on hover */
  border: 1px solid #3b3030; /* Adds a dark brown border on hover */
}

.booking_form .note {
  background-color: #e5989b;
  opacity: 0.6; /* Sets opacity to 60% */
  padding: 1em; /* Adds padding inside */
  border-radius: 1rem; /* Make corners rounder */
  margin: 1rem auto; /* Adds vertical spacing */
}
