.booking_form {
  display: flex; /* Enables flexbox layout */ /* Centers the container with margin */
  flex-direction: column; /* Stacks child elements vertically */
  align-items: baseline; /* Centers elements horizontally */
  /* Adds padding inside */
  justify-content: center; /* Centers elements vertically */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; /* Adds shadow effect */
  margin: 2rem;
  padding: 1rem;
}
input {
  width: 100%;
  margin: auto;
}
label {
  margin: 0.5em 0;
}
hr {
  margin: 1em 0; /* Adds spacing above and below */
  color: #e5989b; /* Sets horizontal rule color */
  border: 1px solid #e5989b; /* Adds border */
  opacity: 0.2; /* Reduces visibility */
}

.booking_form h1 {
  color: #e5989b; /* Sets text color to pink */
  text-align: center; /* Centers the heading */
  font-size: 2.6em; /* Increases font size */
  text-shadow: 2px 2px black; /* Adds black text shadow */
  letter-spacing: 0.4em; /* Increases space between letters */
  margin: 0.6em; /* Adds spacing */
  width: 100%;
}

.form {
  margin: auto; /* Centers the form */
  padding: 0;
}

.location {
  display: flex; /* Enables flexbox */
  justify-content: baseline; /* Aligns items to the baseline */
}

/* This styling allows form legend be placed in one column and radio buttons in the other */
fieldset {
  display: contents;
}

fieldset.photoshoot > legend {
  font-weight: bold; /* Makes legend same as other form labels*/
}

.photoshot {
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stacks elements vertically */
}

.checkbox {
  display: flex; /* Enables flexbox */
  align-items: center; /* Centers items vertically */
  justify-content: baseline; /* Aligns items to the baseline */
  font-size: 1.4rem;
}

textarea {
  width: 95%; /* Sets width to the 95% size of the page*/
  height: 6em; /* Sets bigger height */
  border-color: #e5989b; /* Sets border color to pink */
  margin: 0.2rem auto;
}
.button-area {
  width: 70%;
  margin: auto;
  text-align: center;
}

.note {
  background-color: #e5989b; /* Sets background color to pink*/
  opacity: 0.6; /* Sets opacity to 60% */
  padding: 1em; /* Adds padding inside */
  border-radius: 1rem; /* Make corners rounder */
  margin: 1rem auto; /* Adds vertical spacing */
}
