@media (min-width: 1000px) {
  /* Applies styles when screen width is 1000px or larger */

  body {
    font-size: 2em; /* Increases font size for larger screens */
  }

  p,
  a {
    font-size: 1.4em; /* Increases paragraph and link text size */
  }

  h2 {
    font-size: 2em; /* Increases heading size */
  }

  /* NAVBAR */
  #navbar {
    justify-content: space-around; /* Adds more space between navbar elements */
  }

  /* ABOUT */
  #about {
    justify-content: space-evenly; /* Spreads elements evenly in about section */
  }
  .about_detail {
    flex-direction: row;
  }
  #about img {
    width: 18em; /* Increases image size */
  }
  .about_her h1 {
    font-size: 2em; /*Font size*/
  }

  .about_her {
    width: 40%; /* Reduces width to allow better spacing */
  }

  /* Gallery for portrait and family photo */
  .home_gallery_container h2 {
    font-family: 2.4em; /* Increases font size for gallery title */
  }

  .home_gallery_container .desktop {
    display: inline; /* Makes desktop version visible */
  }

  .home_gallery_container .tablet {
    display: inline; /* Makes tablet version visible */
  }

  .home_gallery_container img {
    margin: 0.6em 1.5em; /* Adds spacing around images */
    width: 15em; /* Increases image width */
    height: 350px; /* Increases image height */
  }

  /* PROCESS */
  #process {
    margin: auto; /* Centers process section */
    width: 50%; /* Reduces width for better alignment */
    justify-content: center; /* Centers process content */
  }

  #process h1 {
    margin: 1em 2em; /* Adds spacing around process heading */
  }

  .form input {
    width: 50%; /* Makes input fields take half of the width */
  }
  /* CONTACT FORM */
  .contact_form input {
    width: 50%;
  }
  /* FOOTER */
  .footer-menu {
    display: flex; /* Turns the element into a flex container so its children can be laid out using flexbox. */
    flex-direction: row; /* Aligns child elements in a horizontal row, from left to right. */

    text-align: center; /* Horizontally centers the text inside the element. */
    justify-content: center; /* Horizontally centers the child elements inside the flex container. */
  }

  #navbar img {
    width: 7em; /* Increases navbar logo size */
  }

  /* SIGN IN AND LOG IN PAGE */
  #signup_container,
  #login_container {
    display: flex; /* Enables flexbox layout */
    flex-direction: row; /* Aligns elements in a row */
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers content horizontally */
    animation: all 2s ease-in; /* Adds animation effect */
  }
  .password-rules {
    width: 40%;
  }
  .auth_container {
    width: 45%; /* Reduces width for better alignment */
    height: 100%;
    margin: 2rem 2rem; /* Adds spacing */
    padding: 2rem; /* Adds padding inside */
  }
  .side_container {
    width: 45%;
    margin: 2rem 2rem;
  }

  /* BOOKING PAGE */
  .booking_form {
    width: 30%;
  }
  .booking_form input {
    margin: auto;
    width: 100%;
  }
  /* Animations */
  @keyframes fadeOut {
    from {
      opacity: 0; /* Starts fully transparent */
      transform: translateX(200%); /* Moves element from right */
    }
    to {
      opacity: 1; /* Becomes fully visible */
      transform: translateX(0); /* Moves element to normal position */
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0; /* Starts fully transparent */
      transform: translateX(-200%); /* Moves element from left */
    }
    to {
      opacity: 1; /* Becomes fully visible */
      transform: translateX(0); /* Moves element to normal position */
    }
  }

  @keyframes fadein {
    from {
      opacity: 0; /* Starts fully transparent */
      transform: translateX(200%); /* Moves element from right */
    }
    to {
      opacity: 1; /* Becomes fully visible */
      transform: translateY(0); /* Moves element to normal position */
    }
  }

  @keyframes fadeout {
    from {
      opacity: 0; /* Starts fully transparent */
      transform: translateX(-200%); /* Moves element from left */
    }
    to {
      opacity: 1; /* Becomes fully visible */
      transform: translateX(0); /* Moves element to normal position */
    }
  }

  /* Gallery page page layout set*/

  /* Horizontal image will take up half of the images row*/
  .horizontal {
    width: 48%; /* Sets image width */
    object-fit: cover; /* Makes all images fit in the same width */
  }
  
  /* Vertical image will show 4 in one row */
  .vertical {
    width: 23%; /* Sets image width */
    object-fit: cover; /* Makes all images fit in the same width */
  }
}
