/* Style for gallery page 
- Uses flexbox to arrange content in a row and wrap if not enough space.
- content is aligned at the center of the page
- sets gap between images
*/
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: center;
  gap: 10px;
  padding: 2em;
}
.gallery_page h1 {
  color: #e5989b; /* Sets text color to pink */
  text-align: center; /* Centers the heading */
  font-size: 2.6em; /* Increases font size */
  text-shadow: 2px 2px black; /* Adds black text shadow */
  letter-spacing: 0.4em; /* Increases space between letters */
  margin: 0.6em; /* Adds spacing */
}
/* For horizontal images width is the size of the screen */
.horizontal {
  width: 100%; /* Sets image width */
  object-fit: cover; /* Makes all images fit in the same width */
}

/* For horizontal images width is half the size of the screen, showing 2 images in one row */
.vertical {
  width: 48%; /* Sets image width */
  object-fit: cover; /* Makes all images fit in the same width */
}
@media (min-width: 1000px) {
  /* Gallery page page layout set*/

  /* Horizontal image will take up half of the images row*/
  .horizontal {
    width: 48%; /* Sets image width */
    object-fit: cover; /* Makes all images fit in the same width */
  }

  /* Vertical image will show 4 in one row */
  .vertical {
    width: 23%; /* Sets image width */
    object-fit: cover; /* Makes all images fit in the same width */
  }
}
@media (min-width: 768px) {
  /* Gallery page page layout set*/
  /* Vertical image will show 3 in one row */
  .vertical {
    width: 32%; /* Sets image width */
    object-fit: cover; /* Makes all images fit in the same width */
  }
}
