@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.button_dark {
  background-color: #3b3030;
  color: #fff0d1;
  padding: 0.5em 1.2em;
  border-radius: 3em;
  cursor: pointer;
}

/* HOME PAGE */
/* SLIDER SIDE */
.card_list .card_item {
  background: rgb(22, 21, 21, 0.2);
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card_list .image {
  width: 20em;
  border-radius: 2em;
}
.swiper-slide {
  height: auto;
}

/* ABOUT SIDE */
#about {
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
#about img {
  width: 12em;
  margin: 0 1em;
}

.about_her {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}
.about_her h1 {
  font-size: 2em;
  margin: 0 auto 0.5em auto;
}

.about_her span {
  font-size: 1.5em;
  color: #8ff8a8;
  margin-right: 1em;
}

.about_her p {
  margin-bottom: 1.2em;
}

/* FORM STYLING*/
/* Form is placed in the center with flex display*/
.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 500px;
}

/* Form layout is laid out in grid with 2 columns: first column is labels, second are input fields */
.label-field-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: min-content;
}

/* This styling allows form legend be placed in one column and radio buttons in the other */
fieldset {
  display: contents;
}

/* This class sets radio buttons to be on the same line */
.portrait-family {
  display: inline-flex;
  gap: 3px;
  flex-direction: row;
  flex-wrap: nowrap;
}

 /* Input fields  */
.form input, textarea, select {
  border-radius: 2px;
  border-style: hidden;
  background-color: #d9d9d9;
}
/* Field labels */
.form label {
  font-family: inherit;
  font-size: 16px;
}

.form input[type="radio"] {
  color: #d9d9d9;
}

.form input[type="submit"] {
  padding: 10px;
  margin: 5px;
  background-color: #3d4142;
  color: #fffefa;
  font-size: 16px;
}


.note p{
  background-color: #777A79;
  color:#fffefa;
  font-size: 16px;
  margin:auto;
  padding: 10px;
}