@media (min-width: 768px) {
  /* Applies styles when screen width is 768px or larger */

  body {
    font-size: 1.6em; /* Increases font size for better readability */
  }

  p,
  a {
    font-size: 1.2em; /* Adjusts paragraph and link text size */
  }

  h2 {
    font-size: 1.8em; /* Increases heading size */
  }

  /* ABOUT */
  #about img {
    width: 16em; /* Enlarges images in the about section */
  }

  .home_gallery_container .tablet {
    display: inline; /* Makes tablet version of the gallery visible */
  }

  /* Footer */
  .footer-menu {
    display: flex; /* Turns the element into a flex container so its children can be laid out using flexbox. */
    flex-direction: row; /* Aligns child elements in a horizontal row, from left to right. */

    text-align: center; /* Horizontally centers the text inside the element. */
    justify-content: center; /* Horizontally centers the child elements inside the flex container. */
  }

  .footer-item {
    margin: 1em 1em; /* Adds spacing between footer items */
  }
  .process-grid {
    grid-template-columns: repeat(2, 1fr); /* tablet */
  }

  .vertical {
    width: 32%; /* Sets image width */
    object-fit: cover; /* Makes all images fit in the same width */
  }
}
